<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1>
                <h3>Años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum tempore dolorum odio magnam molestiae aliquid cupiditate vitae, maxime culpa totam nisi rem. Suscipit exercitationem laboriosam distinctio natus vero illum quibusdam.</p>

        </ul>

        <ul>
            <li>
                <h1>Estudio 2</h1>
                <h3>Años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum tempore dolorum odio magnam molestiae aliquid cupiditate vitae, maxime culpa totam nisi rem. Suscipit exercitationem laboriosam distinctio natus vero illum quibusdam.</p>

        </ul>

    </div>
</div>



