<div class="row">
<h1 id="titulo">Proyectos realizados</h1>
<div class="contenedor">
    <br>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">

        <ul>
            <li>
                <h1>Portfolio personal</h1>
                
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum tempore dolorum odio magnam molestiae aliquid cupiditate vitae, maxime culpa totam nisi rem. Suscipit exercitationem laboriosam distinctio natus vero illum quibusdam.</p>

        </ul>

        
</div>